body {
  margin: 0;
  background: #111;
  color: #fff;
  font-family: 'Segoe UI', Arial, sans-serif;
}
#game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
canvas {
  border: 5px solid #222;
  border-radius: 10px;
  background: #222;
}
